<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="blinking-title">lolo</title>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/1174535968112517242/117481447772.jpg?ex=6568f63e&is=6556813e&hm=4fe16a2f47f8b7271b005821f9d407f3cf8ed530423d6d837061e7e2808c8544&" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="main.css">

</head>

  <script>
    function audioPlay() {
        var audio = document.getElementById("audio");
        audio.volume = 1.0;
              audio.currentTime = 0;
        audio.play();
    }
  </script>

  <audio loop preload="auto" id="audio">
    <source src="./certo.mp3" type="audio/mp3">
  </audio>

  <input type="checkbox" autocomplete="off" id="overlay-toggle">
  <div class="overlay fullscreen">
    <label for="overlay-toggle" onclick="audioPlay(); ">
      <span class="overlayno-hover hover" style="font-family: monospace; font-size: 0.6em;">lolo</span>
      <span class="overlayhover hover" style="font-family: monospace; font-size: 0.6em;">lolo.lxz</span>
    </label>
  </div>

  <body>
  <body style="background-size:cover;background-position:center;">
  <body>



  
<body>
    <video autoplay loop >
        <source src="./public/spider.mp4"
 type="video/mp4">
        Seu navegador não suporta vídeo.
    </video>
   
                <div class="all">

                                      <div class="discord-profile">
                  <div class="profile animate__animated animate__fadeInUp animate__fast">

                          <div class="pfp">
                          <img src=" https://cdn.discordapp.com/attachments/1174535968112517242/1174814477724692510/6bfe65f07073df361e1f6f22d767d6be.jpg?ex=6568f63e&is=6556813e&hm=4fe16a2f47f8b7271b005821f9d407f3cf8ed530423d6d837061e7e2808c8544&"png", size: 4096 %>
                              </a>
                          </div>

                                          <div class="nickz"> lolo.lxz </div>
                                   <div class="nick subnick">    osmenodamidia   </div>
                                           <div class="badges">

                                               <!-- Badge 4 -->
                                               <div class="badge" style="background-image: url('https://images-ext-2.discordapp.net/external/AGAb6rxerDzjeJhDzXNS5CKgFT0DbGppfnPQiQ_Pfes/https/cdn3.emoji.gg/emojis/1895-subscriber-nitro-animated.gif');" data-tooltip="Assinante desde 09 de nov. de 2023"></div>
                                               <!-- Badge 5 -->
                                               <div class="badge" style="background-image: url('https://raw.githubusercontent.com/kauexz/badges/main/svg/boosts/discordboost1.svg');" data-tooltip="Impulsionando o servidor desde 09 de nov. de 2023"></div>
                                              <!-- Badge 6 -->


                                           </div>

                                          <div class="nick subnick">       </div>

                                          <div class="social-buttons">

                                              <a href="https://www.instagram.com/lolo.lxz/" target="_blank" class="social-button">
                                                  <i class="fab fa-instagram social-icon"></i>
                                              </a>
                                              <a href="https://discord.gg/qteN529J4q" target="_blank" class="social-button">
                                                  <i class="fab fa-discord social-icon"></i>
                                              </a>
                                              <a href="https://open.spotify.com/user/31gg6gm6xi4xb57idrmn26nedc3u?si=cacd7dfce5974052" target="_blank" onclick="playAudio();" class="social-button">
                                                  <i class="fab fa-spotify social-icon"></i>
                                              </a>
                                          </div>

                                          <div class="server-button">
                                              <div class="server-button-text">ㅤㅤㅤㅤ caladopelamidiaㅤㅤㅤㅤㅤ</div>
                                          </div>
                                      </div>
                              </div>


                  </div>


    
</body>
</html>